/* General */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Source Sans Pro";
	/*font-size: 10px;*/
	font-weight: 300;
	line-height: 2em;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.clearfix {
	clear: both;
}

/* End General*/

/* Nav */
nav {
  background-color: #c12127;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
  line-height: 1;
  /*height: 100px;*/
}

nav a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.top-left{
  padding: 0;
  margin: 0 20px;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 10px;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}
/* End Navbar*/

/* Header */
.header-background {
  color:white;
  background-color: rgb(33, 89, 122);
  padding: 10px 0 0 0;
}

.header-search {
  position: relative;
}

.npm-logo {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 20px;
}

.npm-logo img {
  width: auto;
  height: 100%;
}

.header-right {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 0;
  right: 10px;
  margin-left: 10px;
}

.search-box {
  height: 50px;
  margin: 0 220px 0 170px;
}

form input {
  box-sizing: border-box;
}

form > div {
  position: relative;
  margin-right: 70px;
}

form input[type="text"] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  font-size: 15px;
  background: rgb(31, 82, 111);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #538aaa;
}

form input[type="button"] {
  display: block;
  width: 70px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 15px;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(33, 89, 122);
  border: 1px solid #538aaa;
  border-left: none;
  cursor: pointer;
}

.header-right li {
  float: left;
  list-style-type: none;
  margin: 0 auto;
  padding: 6px;
  color: rgba(255, 255, 255, 0.8);
}

.header-right a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

#bear-logo {
  float: left;
  width: 50px;
  height: 50px;
  padding: 0 0 0 5px;
}

.header-intro-txt {
  max-width: 1500px;
  height: 400px;
  margin: 0 auto;
  background-image: url(images/city-scape.svg);/*is not dispayed in vs code live server*/
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 100%, 0;
}

.header-box-txt {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#header-main h1 {
  font-size: 50px;
  font-weight: 100;
  padding: 60px 0 10px 0;
}

#header-main p {
  width: 60%;
  line-height: 1.2;
  padding: 20px 0;
}

#header-main a {
  display: inline-block;
  margin: 10px 0 ;
  text-decoration: none;
  padding: 4px 25px;
  color: white;
  background-color: rgb(240, 146, 51);
  border-radius: 20px;
}


/*Section Collaboration*/

.collab-background {
  height: 500px;
  color: white;
  background-color: rgb(39,53,71);
}

.collab-main {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 0 auto;
  background-image: url(images/collaboration.svg);
  background-repeat: no-repeat;
  background-position: 0, 50%;
  background-size: 50% auto;
}

.collab-text {
  position: absolute;
  width: 50%;
  right: -70px;
  top: 50%;
  transform: translate(0, -50%);
}

.collab-text h2 {
  font-weight: 100;
  font-size: 2rem;
  margin-left: -20px;
  padding-bottom: 20px;
}

.collab-text ul {
  padding-bottom: 30px;
}

.collab-text a {
  text-decoration: none;
  color: white;
}

.collab-text p {
  margin-left: -20px;
}

#signOrg {
  background-color: rgb(203, 56, 55);
  padding: 8px 25px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: -20px;
}

.collab-text p {
  padding-top: 5px;
}


/*Section what is npm*/
.what-background {
  height: 500px;
  color: white;
  background-color: rgb(36, 129, 183);
  
}

.what-main {
  max-width: 1500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-image: url(images/forklift.svg);/*not displayed in vs code live server*/
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 100%, 0;
}

.what-box-txt {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.what-txt {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

.what-txt h2 {
  font-weight: 100;
  font-size: 2rem;
  line-height: 3;
}

.what-txt p {
  width: 33%;
  line-height: 1.5;
  margin-bottom: 20px;
}

.what-txt a {
  text-decoration: none;
  color: white;
  background-color: rgb(49, 68, 88);
  padding: 8px 25px;
  border-radius: 20px;
}



/*Section Cards*/
.cards-background {
  background-color: white;
}

.cards-main {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 30px 0;
}

.cards-title h2 {
  font-weight: 100;
  font-size: 2rem;
  color: rgb(83, 88, 98);
} 

.cards-title p {
  padding: 20px 0 30px 0;
  color: rgb(135, 145, 156);
}

.cards {
  width: 33%;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  /*box-shadow: 0 2px 4px 1px rgba(135,145,156, .2);*/
  text-align: center;
}

.cards h4 {
  color: rgb(83, 88, 98);
}

.cards p {
  width: 66%;
  display: inline-block;
  color: rgb(135, 145, 156);
  line-height: 1.2;
}

.cards a {
  text-decoration: none;
  color: rgb(208, 74, 73);
}
